ATTENTION: PERSONAL QUARANTINE DISABLED
The personal quarantine for [% recipient_address %] has been disabled. From now on you have to contact your local network administrator in the event that an expected e-mail has not arrived.

Please note, that it is possible to activate the quarantine again at any time.

-- 
This end-user quarantine is brought to you by underground_8 via the AS Communication Gateway
