<div id="help_appliance_system">
	<h3>[% Catalyst.localize('system_general_settings_version_heading') %]</h3>
	<p>[% Catalyst.localize('help_system_general_settings_version') %]</p>

	<h3>[% Catalyst.localize('system_general_settings_reboot_shutdown_heading') %]</h3>
	<p>[% Catalyst.localize('help_system_general_settings_reboot_shutdown') %]</p>

	<h3>[% Catalyst.localize('system_general_settings_reset_heading') %]</h3>
	<p>[% Catalyst.localize('help_system_general_settings_reset') %]</p>
</div>