<div id="help_appliance_system">
	<h3>[% Catalyst.localize('system_remote_assistance_ssh_heading') %]</h3>
	<p>[% Catalyst.localize('help_system_remote_assistance_ssh') %]</p>

	<h3>[% Catalyst.localize('system_remote_assistance_snmp_heading') %]</h3>
	<p>[% Catalyst.localize('help_system_remote_assistance_snmp') %]</p>
</div>