<div id="help_appliance_logging">
	<h3>[% Catalyst.localize('logging_statistics_entire_traffic_stats_heading') %]</h3>
	<p>[% Catalyst.localize('help_logging_statistics_entire_traffic_stats') %]</p>
</div>
