<div id="help_appliance_system">
    

    <h3>[% Catalyst.localize('heading_antispam_smtpsrvs_addsmtpsrv') %]</h3>
    <p>[% Catalyst.localize('help_heading_antispam_smtpsrvs_addsmtpsrv') %]</p>

    <h3>[% Catalyst.localize('configured_smtpsrvs') %]</h3>
    <p>[% Catalyst.localize('help_configured_smtpsrvs') %]</p>
</div>
