<div id="help_appliance_envelope_scanning">
    <h3>[% Catalyst.localize('envelope_scanning_bwlist_manager_control_heading') %]</h3>
	<p>[% Catalyst.localize('help_envelope_scanning_bwlist_manager_control') %]</p>

	<h3>[% Catalyst.localize('envelope_scanning_bwlist_manager_whitelist_heading') %]</h3>
	<p>[% Catalyst.localize('help_envelope_scanning_bwlist_manager_whitelist') %]</p>

	<h3>[% Catalyst.localize('envelope_scanning_bwlist_manager_blacklist_heading') %]</h3>
	<p>[% Catalyst.localize('help_envelope_scanning_bwlist_manager_blacklist') %]</p>
</div>