Source: open-as-cgw
Section: admin
Priority: optional
Maintainer: Open AS Team <team@openas.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: open-as-cgw
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
        libfcgi-perl,
        libfcgi0ldbl,
        libgd-gd2-perl,
        libtrycatch-perl
Pre-Depends: amavisd-new,
        arj,
        aview,
        ca-certificates,
        cabextract,
        clamav,
        clamav-daemon,
        curl,
        dnsmasq,
        libalgorithm-c3-perl,
        libapache-htpasswd-perl,
        libappconfig-perl,
        libauthen-htpasswd-perl,
        libb-hooks-endofscope-perl,
        libcairo-perl,
        libcairo2,
        libcarp-clan-perl,
        libcatalyst-action-rest-perl,
        libcatalyst-manual-perl,
        libcatalyst-model-cdbi-perl,
        libcatalyst-modules-extra-perl,
        libcatalyst-modules-perl,
        libcatalyst-perl,
        libcatalyst-plugin-fillinform-perl,
        libcatalyst-view-tt-perl,
        libcgi-simple-perl,
        libclamunrar7,
        libclass-accessor-perl,
        libclass-c3-adopt-next-perl,
        libclass-c3-perl,
        libclass-c3-xs-perl,
        libclone-perl,
        libcompress-raw-bzip2-perl,
        libcompress-raw-zlib-perl,
        libconfig-file-perl,
        libcrypt-blowfish-perl,
        libcrypt-cbc-perl,
        libcrypt-openssl-rsa-perl,
        libcrypt-passwdmd5-perl,
        libcurses-perl,
        libdaemon-control-perl,
        libdata-formvalidator-perl,
        libdata-optlist-perl,
        libdatetime-format-strptime-perl,
        libdatetime-set-perl,
        libdbd-mysql-perl,
        libdbi-perl,
        libdevel-globaldestruction-perl,
        libdigest-md5-perl,
        libdigest-perl,
        libemail-mime-createhtml-perl,
        libemail-mime-perl,
        libemail-sender-perl,
        libextutils-cbuilder-perl,
        libextutils-parsexs-perl,
        libfcgi-perl,
        libfcgi-procmanager-perl,
        libfcgi0ldbl,
        libfile-flock-perl,
        libfile-homedir-perl,
        libfile-path-perl,
        libfile-policy-perl,
        libfile-slurp-perl,
        libfile-which-perl,
        libgd-gd2-perl,
        libhash-merge-perl,
        libhtml-parser-perl,
        libhtml-prototype-perl,
        libhttp-body-perl,
        libhttp-request-ascgi-perl,
        libio-compress-perl,
        libio-lockedfile-perl,
        libio-socket-ssl-perl,
        liblist-moreutils-perl,
        liblocale-maketext-perl,
        liblockfile-simple-perl,
        libmail-dkim-perl,
        libmath-bigint-perl,
        libmime-base64-perl,
        libmime-lite-perl,
        libmime-tools-perl,
        libmodule-corelist-perl,
        libmodule-load-conditional-perl,
        libmodule-load-perl,
        libmodule-pluggable-perl,
        libmoose-perl,
        libmoosex-emulate-class-accessor-fast-perl,
        libmoosex-methodattributes-perl,
        libmoosex-types-perl,
        libmro-compat-perl,
        libnamespace-autoclean-perl,
        libnamespace-clean-perl,
        libnet-cidr-lite-perl,
        libnet-cidr-perl,
        libnet-dns-async-perl,
        libnet-ldap-perl,
        libnet-perl,
        libnet-server-mail-perl,
        libnet-telnet-perl,
        libnetaddr-ip-perl,
        libparams-check-perl,
        libparams-util-perl,
        libparams-validate-perl,
        libpath-class-perl,
        libpod-escapes-perl,
        libpod-simple-perl,
        libregexp-common-email-address-perl,
        libscalar-list-utils-perl,
        libschedule-cron-perl,
        libscope-guard-perl,
        libset-infinite-perl,
        libstorable-perl,
        libstring-rewriteprefix-perl,
        libsub-exporter-perl,
        libsub-install-perl,
        libsub-name-perl,
        libsub-uplevel-perl,
        libswitch-perl,
        libsys-statistics-linux-perl,
        libtask-weaken-perl,
        libtemplate-perl,
        libtest-deep-perl,
        libtest-exception-perl,
        libtest-harness-perl,
        libtest-mockobject-perl,
        libtest-nowarnings-perl,
        libtest-simple-perl,
        libtest-warn-perl,
        libtest-www-mechanize-catalyst-perl,
        libtime-local-perl,
        libtime-piece-perl,
        libtimedate-perl,
        libtree-simple-perl,
        libtrycatch-perl,
        libvariable-magic-perl,
        libwww-perl,
        libxml-dumper-perl,
        libxml-simple-perl,
        libxml-smart-perl,
        libyaml-perl,
        lzop,
        monit,
        munin,
        mariadb-client,
        mariadb-server,
        nginx,
        nomarch,
        ntp,
        openssl,
        p7zip,
        pax,
        pdftk,
        postfix,
        postfix-pcre,
        postfwd,
        procmail,
        python-html5lib,
        python-pisa,
        python-reportlab,
        python-reportlab-accel,
        python-setuptools,
        sasl2-bin,
        snmp,
        snmpd,
        spamassassin,
        sqlgrey,
        starman,
        syslog-ng,
        traceroute,
        uudeview,
        zip,
        zoo
Conflicts: apache2,
        courier-base,
        courier-mta,
        exim4,
        exim4-base,
        exim4-config,
        lighttpd,
        mysql-server,
        mutt,
        openntpd,
        rsyslog,
        ubuntu-minimal
Description: A powerful and feature-rich email security gateway 
