<div id="help_appliance_system">
    

    <h3>[% Catalyst.localize('emailaddress_whitelisting') %]</h3>
    <p>[% Catalyst.localize('help_emailaddress_whitelisting') %]</p>

    <h3>[% Catalyst.localize('heading_policy_emailaddresswhitelist_form') %]</h3>
    <p>[% Catalyst.localize('help_heading_policy_emailaddresswhitelist_form') %]</p>

    <h3>[% Catalyst.localize('heading_policy_emailaddresswhitelist_list') %]</h3>
    <p>[% Catalyst.localize('help_heading_policy_emailaddresswhitelist_list') %]</p>
</div>
