<div id="help_appliance_monitoring">
	<h3>[% Catalyst.localize('monitoring_ping_trace_ping_heading') %]</h3>
	<p>[% Catalyst.localize('help_monitoring_ping_trace_ping') %]</p>

	<h3>[% Catalyst.localize('monitoring_ping_trace_trace_heading') %]</h3>
	<p>[% Catalyst.localize('help_monitoring_ping_trace_trace') %]</p>
</div>