<div id="help_appliance_content_scanning">
	<h3>[% Catalyst.localize('content_scanning_anti_virus_scanners_heading') %]</h3>
	<p>[% Catalyst.localize('help_content_scanning_anti_virus_scanners') %]</p>

	<h3>[% Catalyst.localize('content_scanning_anti_virus_options_heading') %]</h3>
	<p>[% Catalyst.localize('help_content_scanning_anti_virus_options') %]
</div>