<div id="help_appliance_content_scanning">
 	<h3>[% Catalyst.localize('content_scanning_policies_scanning_policy_heading') %]</h3>
	<p>[% Catalyst.localize('help_content_scanning_policies_scanning_policy') %]</p>
</div>