<div id="help_appliance_content_scanning">
 	<h3>[% Catalyst.localize('content_scanning_spam_handling_matrix_heading') %]</h3>
	[% Catalyst.localize('help_content_scanning_spam_handling_matrix') %]</p>
</div>